<div>
    <mat-form-field>

        <input matNativeControl>
        <textarea matNativeControl>
        asd
      </textarea>
        <select matNativeControl>
            asd
        </select>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>

<h2>Registro de usuario</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
<button class="btn btn-info" (click)="onClick()">Login With Google</button>