<div class="container">
    <!-- <img src="../../../assets/Normal.png" alt=""> -->
    <div class="card">
        <h2 class="title">Login</h2>
        <form class="form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <mat-form-field class="input">
                <mat-label class="form-label">Email</mat-label>
                <input matInput placeholder="ejemplo@correo.com" type="email" class="form-control"
                    formControlName="email">
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label class="form-label">Password</mat-label>
                <input matInput placeholder="123456" type="password" class="form-control" formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="button">Log In</button>
            <p>Aun no tenes cuenta en Urubank?</p>
            <p>Envia tu solicitud desde <a href="http://localhost:4200/register">este link</a></p>
        </form>
    </div>
</div>