<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed' : ''">
    <div class="logo-container"> 
        <button class="logo" (click)="toggleCollapse()">U</button>
        <div class="logo-text" *ngIf="collapsed">Urubank</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidebar()">
            <i class="fas fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item" *ngFor="let data of navData">
            <a class="sidebar-nav-link" [routerLink]="data.routeLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidebar-link-icon" [class]="data.icon"></i>
                <span class="sidebar-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
        <li class="sidebar-nav-item sidebar-logout">
            <a (click)="logOut()" class="sidebar-nav-link">
                <i class="sidebar-link-icon fas fa-times-circle"></i>
                <span class="sidebar-link-text" *ngIf="collapsed">Logout</span>
            </a>
        </li>
    </ul>
</div>