.dashboard {
    display: flex;
}

.sidebar {
    margin-left: 2vw;
    background-color: #fff;
    align-self: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container {

    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.title {
    margin: 2rem auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    text-align: center;
    color: #635dff;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.button {
    background-color: #635dff;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

table {
    margin-top: 2rem;
    width: 100%;
}

table th {
    background-color: #2F314B;
    font-weight: bold;
    color: rgb(218, 218, 243);
}

mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}