.dashboard {
    display: flex;
}

.sidebar {
    margin-left: 1vw;
    background-color: #fff;
    align-self: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #1b13f9;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
    background-color: #5856d6;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

mat-table {
    margin-top: 1rem;
    width: 100%;
}

mat-table mat-header-cell {
    background-color: #2f314b;
    color: rgb(255, 255, 255);
}

.paginator-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.paginator-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-paginator {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}