<div class="dashboard">

    <div class="sidebar">
        <mat-list>
            <mat-list-item style="background-color: rgb(102, 77, 131);">Summary</mat-list-item>
            <mat-list-item>Approved: {{autorizados}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Not approved: {{noAutorizados}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Pending: {{pendientes}}</mat-list-item>
            ---------------------------
            <mat-list-item>Autorized: {{pendientes}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Not autorized: {{pendientes}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Pending: {{pendientes}}</mat-list-item>
        </mat-list>
    </div>

    <div class="container">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.phone }}</mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.state }}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.status }}</mat-cell>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.createdAt }}</mat-cell>
            </ng-container>

            <!-- Completed Column -->
            <ng-container matColumnDef="completed">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Completed </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.completedAt }}</mat-cell>
            </ng-container>

            <!-- PDF Column -->
            <ng-container matColumnDef="pdf">
                <mat-header-cell *matHeaderCellDef mat-sort-header> PDF </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.pdf }}<a href="">*.pdf</a></mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.action }}
                    <mat-select value="0">
                        <mat-option value="0" selected disabled hidden>Choose</mat-option>
                        <mat-option value="autorizado" style="background:rgb(70, 168, 83)">Autorized</mat-option>
                        <mat-option value="noAutorizado" style="background:rgb(168, 70, 70)">Not Autorized</mat-option>
                        <mat-option value="pendiente" style="background:rgb(168, 160, 70)">Pending</mat-option>
                    </mat-select>
                </mat-cell>
            </ng-container>

            <!-- Send Column -->
            <ng-container matColumnDef="send">
                <mat-header-cell *matHeaderCellDef> Save </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.send }}<button>Send</button></mat-cell>
            </ng-container>

            <!-- Header Row -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- Data Rows -->
            <mat-row *matRowDef="let lead; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
        </mat-paginator>
    </div>
</div>