<div class="dashboard">

    <!-- <div class="sidebar">
        <mat-list>
            <mat-list-item style="background-color: rgb(102, 77, 131);">Summary</mat-list-item>
            <mat-list-item>Approved: {{autorizados}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Not approved: {{noAutorizados}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Pending: {{pendientes}}</mat-list-item>
            ---------------------------
            <mat-list-item>Autorized: {{pendientes}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Not autorized: {{pendientes}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Pending: {{pendientes}}</mat-list-item>
        </mat-list>
    </div> -->

    <div class="container">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.id }}</mat-cell>
            </ng-container>

            <!-- CreatedAt Column -->
            <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Creado </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.createdAt }}</mat-cell>
            </ng-container>

            <!-- fullName Column -->
            <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.fullName }}</mat-cell>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.phone }}</mat-cell>
            </ng-container>

            <!-- document Column -->
            <ng-container matColumnDef="document">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.document }}</mat-cell>
            </ng-container>
            
            <!-- email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.email }}</mat-cell>
            </ng-container>
            
            <!-- State Column -->
            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.state }}</mat-cell>
            </ng-container>
            
            <!-- city Column -->
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.city }}</mat-cell>
            </ng-container>
            
            <!-- amount Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Monto ($) </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.amount }}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="applicationStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado de aplicacion </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.applicationStatus }}</mat-cell>
            </ng-container>
            
            <!-- processStatus Column -->
            <ng-container matColumnDef="processStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.processStatus }}</mat-cell>
            </ng-container>
            
            <!-- campaign Column -->
            <ng-container matColumnDef="campaign">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Campaña </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.campaign }}</mat-cell>
            </ng-container>
            
            <!-- financiera Column -->
            <ng-container matColumnDef="financiera">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Financiera </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.financiera }}</mat-cell>
            </ng-container>

            <!-- PDF Column -->
            <ng-container matColumnDef="pdf">
                <mat-header-cell *matHeaderCellDef mat-sort-header> PDF </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.pdf }}<a href="">*.pdf</a></mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.action }}
                    <mat-select value="0">
                        <mat-option value="0" selected disabled hidden>Choose</mat-option>
                        <mat-option value="autorizado" style="background:rgb(70, 168, 83)">Autorized</mat-option>
                        <mat-option value="noAutorizado" style="background:rgb(168, 70, 70)">Not Autorized</mat-option>
                        <mat-option value="pendiente" style="background:rgb(168, 160, 70)">Pending</mat-option>
                    </mat-select>
                </mat-cell>
            </ng-container>

            <!-- Send Column -->
            <ng-container matColumnDef="send">
                <mat-header-cell *matHeaderCellDef> Save </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.send }}<button>Send</button></mat-cell>
            </ng-container>

            <!-- Header Row -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- Data Rows -->
            <mat-row *matRowDef="let lead; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
        </mat-paginator>
    </div>
</div>