<div class="title">
    <h2>Interested users</h2>
    <button class="button" (click)="logOut()">Logout</button>
</div>

<div class="dashboard">

    <div class="sidebar">
        <mat-list>
            <mat-list-item style="background-color: rgb(102, 77, 131);">Resumen de estados</mat-list-item>
            <mat-list-item>Aprobados: {{autorizados}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>No aprobados: {{noAutorizados}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>No finalizó: {{pendientes}}</mat-list-item>
            ------------------------------------------------
            <mat-list-item>Autorizados: {{pendientes}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>No autorizados: {{pendientes}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Pendientes: {{pendientes}}</mat-list-item>
        </mat-list>
    </div>

    <div class="container">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.id }}</mat-cell>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.phone }}</mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.state }}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.status }}</mat-cell>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.created }}</mat-cell>
            </ng-container>

            <!-- Completed Column -->
            <ng-container matColumnDef="completed">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Completed </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.completed }}</mat-cell>
            </ng-container>

            <!-- PDF Column -->
            <ng-container matColumnDef="pdf">
                <mat-header-cell *matHeaderCellDef mat-sort-header> PDF </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.pdf }}<a href="">*.pdf</a></mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.action }}
                    <mat-select value="0">
                        <mat-option value="0" selected disabled hidden>Elegir acción</mat-option>
                        <mat-option value="autorizado" style="background:rgb(70, 168, 83)">Autorizado</mat-option>
                        <mat-option value="noAutorizado" style="background:rgb(168, 70, 70)">No Autorizado</mat-option>
                        <mat-option value="pendiente" style="background:rgb(168, 160, 70)">Pendiente</mat-option>
                    </mat-select>
                </mat-cell>
            </ng-container>

            <!-- Send Column -->
            <ng-container matColumnDef="send">
                <mat-header-cell *matHeaderCellDef> Send </mat-header-cell>
                <mat-cell *matCellDef="let lead">{{ lead.send }}<button>Enviar</button></mat-cell>
            </ng-container>

            <!-- Header Row -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- Data Rows -->
            <mat-row *matRowDef="let lead; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
        </mat-paginator>
    </div>
</div>